extends ../shared/layout

block content

  // Main content
  section.content
    // Small boxes (Stat box)
    
    // Main row
    .row
      // Left col
      // Chat box 
      center
        h1(style='font-size:100px')
          | 
          | 404
          |
        | 
        | 
        | 
        h4
          | Sorry... The page you are looking for cannot be found.
          br
          | Please click 
          a(href=rooturl) here to go back home.
          script
            | var errpage = true;

        
      // /.Left col
    // /.row (main row)
  // /.content
  // /.content-wrapper
  // ./wrapper

