extends ../shared/layout

block content

  // Main content
  section.content
    // Small boxes (Stat box)
    
    // Main row
    .row
      // Left col
      // Chat box 
      center
        h1(style='font-size:100px')
          | 
          | 500
        | 
        | 
        | 
        h1
          | Internal server error.
          | Please try again or contact the administrator 
          | #{adminemail}

        
      // /.Left col
    // /.row (main row)
  // /.content
  // /.content-wrapper
  // ./wrapper
  // ./wrapper
  