extends shared/layout

block content    
  section.text-center.main-section
    br
    br
    br
    img.pull-left(src='img/csyma-dat.svg', alt='')
    p
      h3
        | &nbsp;
        | 
        | 
        strong
          h1
            i.fa.fa-thumbs-o-up.bamf
      h3
        i.pull-left
          | Why is this page here?
        br
        p.iqsnt
          | The owner of this application or website (we don't really know what s/he's trying to buil_) has no_ finish_ buil__ his app___. Still many dashes to fill. We've done all we could for thim, now we wish him godspeed.
        br
      h1.iqsnt Site under Construction
      h3.iqsnt
        | But meawhile, we can grab this opportunity to tell you about CSYMA.
      br
      h3
        |  CSYMA is a mother web application on which other web applications run. That is, it's a platform for building web applications with standardized structure, best practices, and modern technologies baked in. It handles most of the dirty work for you, so you don't have to reinvented the wheel in code.
      br

      | Get started
    br
    br


  