
section.cd-section#tour
	main
		.highlight1.bg1(style="font-color:white;")

		
			div.container(style="padding-left:20px")
				p.text-center
					h1.text-center
						| What is CSYMA
				.row
					| CSYMA is a platform for building universal web applications with standardized structure, best practices, and modern technologies baked in. It offers you the basic features that you need so you don't have to reinvent the wheel in code. Just re-use the code and get your app up and running in minutes. With the framework in place, modules (applications) can be built to extend the functionality.

					p.text-center                
						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								| Learn More

						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								i.fa.fa-github
									| Github
					|

section.cd-section#components
	main.highlight1.highlightcomponents.bg1
		div.container(style="padding-left:20px")
			p.text-center
				h1.text-center
					| Components
		.container.pillars-section-2
			.row
				.col-xs-4.pillar-grey-border
					.col-sm-12
						img(src='/assets/electrode/img/core_pillar.svg', alt='')
					|				 
					.pillar-content
						h1 Features
						|					 
						p
							| Build a simple, flexible scaffold in minutes, with support for server-side rendering and easy deployment to multiple
							| cloud providers. Electrode lets you focus on code, not configuration.
				|			 
				.col-xs-4.pillar-grey-border
					.col-sm-12
						img(src='/assets/electrode/img/modules_pillar.svg', alt='')
					|				 
					.pillar-content
						h1 Modules
						|					 
						p
							| Level up your app with features like above-the-fold rendering, server-side render caching, and stateless CSRF validation.
							| Modules work with your existing React/Node app--no need to migrate to Electrode Core.
				|			 
				.col-xs-4
					.col-sm-12
						img(src='/assets/electrode/img/explorer-pillar.svg', alt='')
					|				 
					.pillar-content
						h1 Tools
						|					 
						p
							| Discover reusable components and optimize your JS bundle with standalone tools. These tools can be used with any
							| React/Node app, but work best with the structure provided by Electrode Core.
			|		 
			.row.pillar-links
				.col-sm-4.pillar-grey-border
					a(href='index.html#electrode-core-logo') LEARN MORE
				|			 
				.col-sm-4.pillar-grey-border
					a(href='index.html#modules-section') LEARN MORE
				|			 
				.col-sm-4
					a(href='index.html#electrode-tools') LEARN MORE

section.cd-section#features
	main
		.highlight1.highlightfeatures.bg1(style="font-color:white;")

		
			div.container(style="padding-left:20px")
				p.text-center
					h1.text-center
						| Features
				.row
					| CSYMA is a platform for building universal web applications with standardized structure, best practices, and modern technologies baked in. It offers you the basic features that you need so you don't have to reinvent the wheel in code. Just re-use the code and get your app up and running in minutes. With the framework in place, modules (applications) can be built to extend the functionality.

					p.text-center                
						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								| Learn More

						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								i.fa.fa-github
									| Github

section.cd-section#modules
	main
		.highlight1.highlightmodules.bg1(style="font-color:white;")

		
			div.container(style="padding-left:20px")
				p.text-center
					h1.text-center
						| Modules
				.row
					| CSYMA is a platform for building universal web applications with standardized structure, best practices, and modern technologies baked in. It offers you the basic features that you need so you don't have to reinvent the wheel in code. Just re-use the code and get your app up and running in minutes. With the framework in place, modules (applications) can be built to extend the functionality.

					p.text-center                
						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								| Learn More

						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								i.fa.fa-github
									| Github

section.cd-section#install
	main
		.highlight1.highlightinstall.bg1(style="font-color:white;")

		
			div.container(style="padding-left:20px")
				p.text-center
					h1.text-center
						| Install
				.row
					| CSYMA is a platform for building universal web applications with standardized structure, best practices, and modern technologies baked in. It offers you the basic features that you need so you don't have to reinvent the wheel in code. Just re-use the code and get your app up and running in minutes. With the framework in place, modules (applications) can be built to extend the functionality.

					p.text-center                
						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								| Learn More

						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								i.fa.fa-github
									| Github

section.cd-section#tools
	main
		.highlight1.highlighttools.bg1
			div.container(style="padding-left:20px")
				p.text-center
					h1.text-center
						| Tools
				.row
					| CSYMA is a platform for building universal web applications with standardized structure, best practices, and modern technologies baked in. It offers you the basic features that you need so you don't have to reinvent the wheel in code. Just re-use the code and get your app up and running in minutes. With the framework in place, modules (applications) can be built to extend the functionality.

					p.text-center                
						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								| Learn More

						a.text-center(href="#tour")
							button.btn.btn-2.btn-4c
								i.fa.fa-github
									| Github

main
	.highlightcomponents
		include ../csystem/shared/footer