//include ../csyma/csymahome
| this is the csyma tour page...
br
| we require inside here a button to explore
br
|
that button should take us to /csyma/
|
br
| explain csyma as electrode is explained,,, explore(this blank application),,, go to github,,, go to docs,,, open sample applications,,,,
