extends ../csystem/shared/layout


block content 
	| This application/site is powered by CSYMA. 
	br
	| Since you are seeing this page, it seems the owner of this site has not finished his installation. 
	br
	| We can meanwhile give you a brief introduction to CSYMA and how you can find your way around this site.

	include events