.iziModal-wrap
  .iziModal-content(style='padding: 0px;')
    button.icon-close(data-izimodal-close='')
    |        
    .sections
      section
        .containere
          .text-center
            span.fa.fa-user-plus  CSYMA Apps
          legend.text-center
            | Add New Organization
          form.ajform(method= "post")
            input(type='hidden', name='_csrf')
            .form-group
              label.col-sm-3.control-label(for='email') Email
              .col-sm-7
                input#email.sigupemail(type='email', name='email', placeholder='Email', autofocus='', required='')
            .form-group
              label.col-sm-3.control-label(for='password') Password
              .col-sm-7
                input#password.signuppwd(type='password', name='password', placeholder='Password', required='')
            .form-group
              label.col-sm-3.control-label(for='confirmPassword') Confirm Password
              .col-sm-7
                input#confirmPassword.signuppwdcnf(type='password', name='confirmPassword', placeholder='Confirm Password', required='')
            .form-group
              .col-sm-offset-3.col-sm-7
                button.signupcancel(data-izimodal-close='') Cancel
                button.btn.btn-primary.signuporgsubmit(type='submit')
                  i.fa.fa-user-plus
                  | &nbsp;&nbsp;&nbsp;&nbsp;Create
          hr
      
script.
  setTimeout(function(){ 
    $(".regheader").click();
  }, 200);
  $(".pregloginbtn").click(function(){
  setTimeout(function(){ $('#modal-custom').iziModal('open');}, 200);
  $(".loginheader").click();
  });
  $(".signuporgsubmit").click(function(){createusersubmit("organization", 2);});
  $(".loginsubmit").click(function(){localloginsubmit();});

  $(".tolocallogicbtn").click(function(){$(".localloginheader").click();});
  $(".locallogincancel").click(function(){$(".loginheader").click();});
  whichmodal = $("#modal-custom")
  $(".ajform").submit(function(e){
    e.preventDefault();
    return false;
  });