doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Peter Aganyo')
    title NYIMBO ZA KRISTO
    link(rel='stylesheet', href='/hymnal/k/css/core_nzk.css')
    link(rel='stylesheet', href='/hymnal/k/css/jquery.mobile-1.2.0.min.css')
    script(src='/hymnal/k/js/jquery-1.8.3.min.js')
    script(src='/hymnal/k/js/jquery.mobile-1.2.0.min.js')
    script(src='/hymnal/k/js/jquery.fullscreen-min.js')
    // script src="/hymnal/k/js/AIRIntrospector.js"></script
    script(src='/hymnal/k/js/core_nzk.js')
  body
    #home(data-role='page', data-theme='b')
      div(data-role='header', data-theme='f')
        h1.logo NYIMBO ZA KRISTO
      |         
      div(data-role='content', data-iscroll='')
        .content-primary
        |         
        div
          h3 &copy; 2013 New Maranatha-Karibu Seventh-day Adventist Church
    | &ZeroWidthSpace;
| ody&gt;
