extends ../csystem/shared/layout

block content    
	.modal.fade(role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				button.closed(type='button', data-dismiss='modal', aria-hidden='true' hidden='true') &times;
				|                 
				h4.modal-title Role
			|             
			.modal-body
				.alerts-modal
				|                     
				form.js-form(method='POST', action='#')
					input(type='hidden', name='csrf_name', value='csrf5930dabdd9b34')
					input(type='hidden', name='csrf_value', value='d590edf5b7137a7ee3230e907f430a69')
					|     
					.js-form-alerts
					|     
					.row
						.col-sm-12
							.form-group
								label Email
								|                 
								.input-group
									span.input-group-addon
										i.fa.fa-edit.fa-fw
									|                     
									input.form-control.createusername(type='text', name='name', autocomplete='off', value='', placeholder='Email')
	script
		|	$.jsPanel({
		|	position: {
		|    	my: "left-top",
		|        at: "left-top"
		|    },
		|    
		|   contentAjax: {
		|    	url: "/", // some url,
		|        done: function (data, textStatus, jqXHR, panel) {
		|        	// the keyword "this" inside the function refers to the panel
		|        },
		|        fail: function (jqXHR, textStatus, errorThrown, panel) {
		|        	//the keyword "this" inside the function refers to the panel
		|        }
		|    },
		|    headerTitle: "my example jsPanel",
		|    theme:       "rebeccapurple",
		|    callback: function (panel) {
		|    	// do whatever you like
		|        // the keyword "this" inside the callback function refers to the panel
		|    }
		|	});			