.iziModal-wrap
  .iziModal-content(style='padding: 0px;')
    button.icon-close(data-izimodal-close='')
    |        
    .sections
      section
        .containere
          legend.text-center
            | Change Password for this Account
          form.ajform(method= "post")
            input(type='hidden', name='_csrf')
            .form-group
              label.col-sm-3.control-label(for='password') Password
              .col-sm-7
                input#password.signuppwd(type='password', name='password', placeholder='Password', required='')
            .form-group
              label.col-sm-3.control-label(for='confirmPassword') Confirm Password
              .col-sm-7
                input#confirmPassword.signuppwdcnf(type='password', name='confirmPassword', placeholder='Confirm Password', required='')
            .form-group
              .col-sm-offset-3.col-sm-7
                button.signupcancel(data-izimodal-close='') Cancel
                button.btn.btn-primary.signuporgsubmit(type='submit' data-type='pwd' data-form='org')
                  i.fa.fa-user-plus
                  | &nbsp;&nbsp;&nbsp;&nbsp;Change
          hr
      
script.
  $(".signuporgsubmit").click(function(){postchangepwdinside($(this));});
  $(".locallogincancel").click(function(){$(".loginheader").click();});
  whichmodal = $("#modal-custom")
  $(".ajform").submit(function(e){
    e.preventDefault();
    return false;
  });